body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0 auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(47, 46, 46)
  
}

h1 {
    color: whitesmoke;


}

#rock {
    background-color: purple;
    color: black;
}

#paper {
    background-color: rgb(150, 39, 39);
    color: rgb(216, 216, 14);
}

#scissors {
    background-color: green;
    color: purple;
}

#rock,
#paper,
#scissors {
    margin: 1rem;
    padding: 2rem;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20%;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    background-color: whitesmoke;
    color: black;

}